ipython
ipykernel
jupyter_client
jupyter_core
matplotlib
seaborn
scikit-learn
tensorflow
numpy
pandas
scipy
psutil
tornado
pyzmq
absl-py
astunparse
attrs
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
cycler
decorator
defusedxml
execnb
fastcore
fastjsonschema
flatbuffers
fonttools
gast
ghapi
gitdb
gitpython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
jinja2
joblib
jsonschema
jsonschema-specifications
jupyterlab-pygments
keras
kiwisolver
lazypredict
libclang
lightgbm
llvmlite
markdown
markdown-it-py
markupsafe
mdurl
mediapipe
mistune
ml-dtypes
moviepy
nb-helpers
nbclient
nbconvert
nbformat
numba
oauthlib
opencv-contrib-python
opencv-python
opt-einsum
pandocfilters
pillow
proglog
protobuf
pyasn1
pyasn1-modules
pycparser
pyparsing
pyqt5
pyqt5-qt5
pyqt5-sip
pytz
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
shap
slicer
smmap
sounddevice
soupsieve
tensorboard
tensorboard-data-server
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tinycss2
tqdm
tzdata
urllib3
webencodings
werkzeug
wrapt
xgboost
zipp
streamlit
pyinstaller